<a href="https://colab.research.google.com/github/Arjunkalliyadath/Github-Project/blob/main/Practice_Assignment(17_11_25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PRACTICE EXERCISES ON PYTHON BASICS

1. Write a Python program which accepts the radius of a circle from the user and compute the area.\
Sample input: Enter the radius: 3 \
Sample output: Area of Circle is 28.59999999999

In [ ]:
r = int(input("Enter the radius: "))
area = 3.14*r*r
print("area of the circle is: ", area)

Enter the radius: 3
area of the circle is:  28.259999999999998

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.\
Sample input: Enter the name: Anisha\
Enter the roll number: 21\
Enter the mark: 78

In [ ]:
name = input("Enter the name: ")
roll_no = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll Number:", roll_no)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll Number: 21
Mark: 78

3. Write a Python program to get the largest number from a list.\
Sample input: 12, 3, 47, 10\
Sample output: 47 is the largest number.

In [ ]:
x = (12,3,47,10)
largest = max(x)
print (largest,"is the largest number")

47 is the largest number

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.\
Sample input: 1….10

In [ ]:
pre_num = 0

for cur_num in range(0, 10):
  sum_num = cur_num + pre_num
  print("Current Number:",cur_num)
  print("Previous Number:",pre_num)
  print("Sum:",sum_num)
  print()

  pre_num = cur_num

Current Number: 0
Previous Number: 0
Sum: 0

Current Number: 1
Previous Number: 0
Sum: 1

Current Number: 2
Previous Number: 1
Sum: 3

Current Number: 3
Previous Number: 2
Sum: 5

Current Number: 4
Previous Number: 3
Sum: 7

Current Number: 5
Previous Number: 4
Sum: 9

Current Number: 6
Previous Number: 5
Sum: 11

Current Number: 7
Previous Number: 6
Sum: 13

Current Number: 8
Previous Number: 7
Sum: 15

Current Number: 9
Previous Number: 8
Sum: 17

5. Write a Python program to print only those numbers which are divisible
of 5.\
Sample input: 10, 20,33,46,55\
Sample output: 10, 20, 55

In [ ]:
Numbers = [10, 20, 33, 46, 55]

for num in Numbers:
    if num % 5 == 0:
        print(num)

10
20
55

6. Write a Python program to check whether a number is prime or not.\
Sample input: Enter the number: 3\
Sample output: 3 is a prime number.

In [ ]:
num = int(input("Enter the number: "))
count = 0

for i in range(1, num + 1):
  if num % i == 0:
    count += 1

if count == 2:
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter the number: 3
3 is a prime number.

7. Write a Python program to reverse a list using for loop.\
Sample input: 10,40,30,70\
Sample output: 70,30,40,10

In [ ]:
numbers = [10, 40, 30, 70]
reversed_list = []

for i in range(len(numbers)-1, -1, -1):
    reversed_list.append(numbers[i])

print(reversed_list)

[70, 30, 40, 10]

8. Write a Python program to print the following pattern.\
*\
**\
***\
****\.

In [ ]:
for i in range(1, 5):
    print("*" * i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers\
Sample input: 34,12,7\
Sample output: 34

In [ ]:
a = 34
b = 12
c = 7

if a > b and a > c:
  print(a)
elif b > a and b > c:
  print(b)
else:
  print(c)

34

10. Write a Python program to construct the following pattern, using a
nested for loop.\
*\
**\
***\
****\
*****\
****\
***\
**\
*.

In [ ]:
for i in range(1, 6):
    print("*" * i)

for i in range(4, 0, -1):
    print("*" * i)

*
**
***
****
*****
****
***
**
*

# Practice Problems – Python Basics

1. Write a Python program that takes an integer as input and calculates the
sum of its digits

In [ ]:
num = int(input("Enter a number: "))
sum_of_digits = 0

while num > 0:
  digit = num % 10
  sum_of_digits += digit
  num = num // 10
print("Sum of digits:", sum_of_digits)

Enter a number: 352
Sum of digits: 10

2. Create a Python program to calculate the factorial of a given number using
a function.

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact = fact * i
    return fact

num = int(input("Enter a number: "))
result = factorial(num)
print("Factorial of", num, "is", result)

Enter a number: 4
Factorial of 4 is 24

3. Develop a Python program that checks whether a given word or phrase is a
palindrome.

In [ ]:
text = input("Enter a word or phrase: ")

clean_text = text.replace(" ", "").lower()

reverse_text = clean_text[::-1]

if clean_text == reverse_text:
    print("It is a palindrome.")
else:
    print("It is not a palindrome.")

Enter a word or phrase: malayalaM
It is a palindrome.

4. Create a Python program that takes a sentence as input and counts the
number of vowels and consonants.

In [ ]:
sentence = input("Enter a sentence: ")

sentence = sentence.lower()
vowels = "aeiou"

vowel_count = 0
consonant_count = 0

for ch in sentence:
    if ch.isalpha():
        if ch in vowels:
            vowel_count += 1
        else:
            consonant_count += 1

print("Vowels:", vowel_count)
print("Consonants:", consonant_count)

Enter a sentence: Max Verstappen is the greatest F1 Driver
Vowels: 11
Consonants: 22

5. Develop a Python program that takes two lists as input and returns a new
list containing the common elements between them.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 7, 9]

common = []

for item in list1:
    if item in list2:
        common.append(item)

print("Common elements:", common)

Common elements: [3, 5]

6. Write a Python program that takes a string as input and counts the
frequency of each character in the string.

In [ ]:
text = input("Enter a string: ")

freq = {}

for ch in text:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print("Character Frequency:")
for key, value in freq.items():
    print(key, ":", value)

Enter a string: malayalam
Character Frequency:
m : 2
a : 4
l : 2
y : 1

7. Develop a Python program that checks if a given year is a leap year.

In [ ]:
year = int(input("Enter a year: "))

if year % 400 == 0:
    print(year, "is a leap year.")
elif year % 100 == 0:
    print(year, "is not a leap year.")
elif year % 4 == 0:
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2004
2004 is a leap year.

8. Write a Python program that checks if a given number, is a prime number.

In [ ]:
num = int(input("Enter the number: "))
count = 0

for i in range(1, num + 1):
  if num % i == 0:
    count += 1

if count == 2:
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter the number: 7
7 is a prime number.

9. Write a Python program to generate the Fibonacci sequence up to a
specified number of terms.

In [ ]:
n = int(input("Enter the number of terms: "))

a = 0
b = 1

print("Fibonacci Sequence:")

for i in range(n):
    print(a)
    c = a + b
    a = b
    b = c

Enter the number of terms: 8
Fibonacci Sequence:
0
1
1
2
3
5
8
13

10. Write a python program to find the roots of a quadratic equation

In [1]:
a = float(input("Enter value of a: "))
b = float(input("Enter value of b: "))
c = float(input("Enter value of c: "))

d = (b*b) - (4*a*c)

if d > 0:
    root1 = (-b + (d ** 0.5)) / (2*a)
    root2 = (-b - (d ** 0.5)) / (2*a)
    print("Two real roots:", root1, "and", root2)

elif d == 0:
    root = -b / (2*a)
    print("One real root:", root)

else:
    print("No real roots (imaginary roots)")

Enter value of a: 2
Enter value of b: -1
Enter value of c: 3
No real roots (imaginary roots)

# PRACTICE EXERCISES ON PYTHON BASICS -2

1. Write a Python program to accept a string value from the user and display
the count of each character in that string.\
 Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [2]:
text = input("Enter a string: ")

freq = {}

for ch in text:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print("Character Frequency:")
for key, value in freq.items():
    print(key, ":", value)

Enter a string: assembly
Character Frequency:
a : 1
s : 2
e : 1
m : 1
b : 1
l : 1
y : 1

2. Write a Python function to find the maximum of three numbers.  
Sample input: 34,12,7\
Sample output: 34

In [8]:
def maximum(a, b, c):

  if a >= b and a >= c:
    return a
  elif b >= a and b >= c:
    return b
  else:
    return c

result = maximum(34, 12, 7)
print(result)

34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp.\
Sample input: Enter the
base: 2\
Enter the exponent: 3
Sample output: 8

In [3]:
def exponent(base, exp):
  return base ** exp

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))

print(exponent(base, exp))

Enter the base: 2
Enter the exponent: 3
8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.\
Sample input: 4\
Sample output: 36.

In [4]:
def sum_of_cubes(n):
  total = 0
  for i in range(1, n):
    total = total + (i*i*i)
  return total

num = int(input("Enter a positive integer: "))
print(sum_of_cubes(num))

Enter a positive integer: 4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.\
Sample input: numbers from 1 to 10.\
Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [5]:
for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers.\
Sample input: 2, 3, 4, 2, 5, 2\
Sample output: 2

In [6]:
numbers = [2, 3, 4, 2, 5, 2]

most = numbers[0]
count_most = numbers.count(most)

for n in numbers:
  if numbers.count(n) > count_most:
    most = n
    count_most = numbers.count(n)

print(most)

2

7. Write a Python program to find the sum of squares of the numbers in a
list\
Sample input: 2,1,3,1.\
Sample output: 15.

In [8]:
numbers = [2, 1, 3, 1]
total = 0

for n in numbers:
  total += n * n
print(total)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even\
Sample input: 1….15\
Sample output: 1-odd 2-even …. 15-odd

In [9]:
for i in range(1, 16):
    if i % 2 == 0:
        print(i, "- even")
    else:
        print(i, "- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]\
Sample input: Temperature in Fahrenheit =41\
Sample output: Temperature in Celsius =5.

In [10]:
f = float(input("Temperature in Fahrenheit: "))
c = (f - 32) * 5/9
print("Temperature in Celsius =", int(c))

Temperature in Fahrenheit: 41
Temperature in Celsius = 5

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer).\
The function accepts the number as an argument.\
Sample input: 3\
Sample output: 6

In [11]:
def factorial(n):
  fact = 1
  for i in range(1, n + 1):
    fact = fact * i
  return fact

num = int(input("Enter a number: "))
print(factorial(num))

Enter a number: 3
6